body {
  font-family: 'rockwell';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.namePage{
  text-align: center;
  height:100vh;
  box-shadow: 0rem 0.5rem 2rem 0.5rem rgba(0,0,0,0.5);
}

.TabButton{
  margin: 1rem;
}

.TabButtonLink{

}

.button{
  background-color:transparent;
  border: none;
  color:rgb(228, 238, 243);  
  text-align: left;
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
  font-family: 'Rubik', sans-serif;
  
}
.topHalf{
  display: flex;
  
  }

.aboutMeDiv{
    display: flex;
    
    }

.titleName{
  font-family: 'Dosis', sans-serif;
  font-family: 'Rubik', sans-serif;
  margin-top: 30vh;
font-size: 7vw;
padding-bottom: 0;
margin-bottom: 0;
color:rgb(228, 238, 243);  

}

.majorName{
  font-family: 'Dosis', sans-serif;
  font-family: 'Rubik', sans-serif;
padding-top: 0;
margin-top: 0;
color:rgb(228, 238, 243);  

}

.aboutMeSection{
  margin-top: 0;
  padding-top: 0;
 
  text-align: center;
  padding-top: 5rem;

}

